<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<h1>clientes</h1>
		<div class="clientes">
			<% if (arrayClientes.length > 0) { %> 
                <% arrayClientes.forEach(cliente => { %>
                    <div class="nombre"><%= cliente.nombre %></div>
                    <div class="correo"><%= cliente.correo %></div>
                <% }) %> 
            <% } %>
		</div>
	</body>
</html>
