<!DOCTYPE html>
<html lang="es">

<head>
	<%- include('templates/headMetas'); -%>
	<title> Mis pedidos - Susy Reposteria.com</title>
</head>

<body class="cupcakes-bg">
	<%- include('templates/headerCliente'); -%>

	<div class="px-2 content lg:px-4">
		<div class="flex justify-between gap-4 titles">
			<div>
				<h1 class="mb-2 text-3xl font-semibold">Historial de Redenciones</h1>
				<div class="bg-cBlue h-[3px] w-20 mb-4"></div>
			</div>
		</div>

         <!-- Pedidos realizadas -->
		 <section>
			<div id="gridClientsOrders" class="mt-4"></div>
		 </section>
	</div>

	<%- include('templates/footer'); -%>

    <script type="module">
		import { Grid, html } from 'https://unpkg.com/gridjs?module';
		new Grid({
			search: true,
			columns: [{
				id: 'orderDate',
				name: 'F. creación',
				width: '170px',
			},{
				id: 'deliveryDate',
				name: 'F. de entrega',
				width: '170px',
			},{
				id: 'state',
				name: 'Estado',
				width: '120px',
			}, {
				id: 'actions',
				name: '',
				width: '50px',
				sort: {
					enabled: false
				}
			}],
			sort: true,
			server: {
				url: '/orderList',
				then: data => data.map(order => [order.orderDate, order.deliveryDate, order.stateName,
		             html(`<a href="pedidos/${order.id}/"><i class="mx-1 text-gray-500 fa-solid fa-pen-to-square hover:text-cPink"></i></a>`)]),
				handle: (res) => {
				// no matching records found
				if (res.status === 404) return {data: []};
				if (res.ok) return res.json();
				
				throw Error('oh no :(');
				},
			},
			pagination: {
				enabled: true,
				limit: 10,
				summary: false
			},
			language: {
				'search': {
				'placeholder': '🔍 Buscar...'
			},
			'pagination': {
				'previous': 'Ant.',
				'next': 'Sig.'
			}, 
			style: { 
				table: { 
				'white-space': 'nowrap'
				}
			}
		}
		}).render(document.getElementById('gridClientsOrders'));
    </script>

</body>

</html>