<!DOCTYPE html>
<html lang="es">

<head>
	<%- include('../templates/headMetas'); -%>
	<title>Premio - Nuevo</title>
</head>

<body class="cupcakes-bg">
	<%- include('../templates/header'); -%>

	<div class="content">
		<div class="flex justify-between gap-4">
			<div>
				<h1 class="mb-2 text-3xl font-semibold">Crear Nuevo Premio</h1>
				<div class="bg-cBlue h-[3px] w-28 mb-4"></div>
			</div>
			<div>
				<a class="px-3 py-2 mt-3 text-sm font-medium text-white border rounded inline-block3 border-cPink bg-cPink hover:bg-transparent hover:text-cPink focus:outline-none focus:ring" href="/admin/premios">
					<i class="fa-solid fa-left-long"></i>
				</a>
			</div>
		</div>
		<div class="p-4 py-12 mx-auto mt-6 bg-white rounded-lg shadow-2xl lg:px-8">
			<form method="POST" action="/admin/premios/nuevoPremio" class="max-w-4xl m-auto">
				<div class="grid grid-cols-1 gap-4 md:grid-cols-3">
					<div class="w-full col-span-1">
						<label for="image" class="block mb-2 text-sm font-medium text-gray-900" for="file_input">Sube una foto</label>
						<input type="file" name="image" id="image" onchange="showPreview(event);" accept="image/*" class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 focus:outline-none file:font-semibold file:p-2 file:bg-cBlue file:text-white hover:file:bg-gray-300 hover:file:text-gray-900 file:border-0 file:outline-none file:ring-0" aria-describedby="file_input_help" />
						<p class="mt-1 text-xs text-gray-500" id="file_input_help">SVG, PNG, JPG or GIF.</p>

						<div id="img-preview" class="p-2 mt-4 border border-gray-300">
							<img src="/assets/img/rewards/no-photo.jpg" class="object-cover w-full rounded aspect-square">
						</div>
					</div>
					<div class="w-full col-span-2">
						<label for="name" class="block mt-4 ml-1 text-sm font-medium lg:mt-0">Nombre<span class="text-red-600">*</span></label>
						<input type="text" name="name" id="name" class="block w-full p-2 mt-2 text-sm border-gray-200 rounded-lg shadow-sm focus:ring-cBlue" placeholder="Nombre del premio" required />

						<label for="description" class="block mt-4 ml-1 text-sm font-medium ">Descripci칩n</label>
						<textarea name="description" id="description" class="block w-full p-2 mt-2 text-sm border-gray-200 rounded-lg shadow-sm focus:ring-cBlue" rows="4" placeholder="Descripci칩n"></textarea>

						<label for="points" class="block mt-4 ml-1 text-sm font-medium">Puntos necesarios <span class="text-red-600">*</span></label>
						<input type="text" inputmode="numeric" name="points" id="points" class="block w-full p-2 mt-2 text-sm border-gray-200 rounded-lg shadow-sm focus:ring-cBlue" placeholder="Puntos para reclamar el premio" required />

						<label for="points" class="block mt-4 ml-1 text-sm font-medium">Fecha de finalizaci칩n:</label>
						<span class="block mt-2 ml-1 text-xs text-gray-500">Fecha hasta la que el premio estar치 disponible.</span>
						<span class="block mb-2 ml-1 text-xs text-gray-500">Deja el campo vacio si no tiene un limite de tiempo.</span>
						<div class="relative">
							<div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
								<svg aria-hidden="true" class="w-5 h-5 text-gray-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd"></path></svg>
							</div>
							<input datepicker type="text" class="bg-white border border-gray-200 text-gray-900 sm:text-sm rounded-lg focus:ring-cBlue block w-full pl-10 p-2.5" placeholder="Seleciona una fecha">
						</div>

						<button type="submit" class="block py-3 m-auto mt-6 text-sm font-medium text-white rounded-lg w-60 bg-cPink">
							Crear Premio
						</button>

						<span class="block w-full mt-3 text-sm text-center text-red-600">(*) Los campos con asterisco son obligatorios.</span>
					</div>
				</div>
			</form>
		</div>


		<%- include('../templates/footer'); -%>

</body>

</html>