<header>
    <setion id="logo">
        <img src="" alt="">
    </setion>
    <section id="account">
        <div class="rounded-full bg-gray-300  text-xl p-2 w-10 h-10 justify-center align-center">
            <i class="fa-solid fa-user"></i>
        </div>
    </section>
</header>